<div class="container-fluid video-call-container" *ngIf="callInProgress">
    <div class="video-grid">
        <div class="remote-video-container">
            <video #userVideo autoplay playsinline class="remote-video"></video>
        </div>

        <div class="local-video-container" id="localVideo">
            <video #myVideo autoplay playsinline class="local-video" muted></video>
        </div>
    </div>
    <div class="call-controls">

        <button class="btn control-btn  btn-sm" (click)="toggleVideo()" data-bs-toggle="tooltip" title="Video"
            [ngClass]="{'btn-secondary': isVideoEnabled, 'btn-danger': !isVideoEnabled}">
            <i class="fa-solid" [class.fa-video]="isVideoEnabled" [class.fa-video-slash]="!isVideoEnabled"></i>
        </button>

        <button class="btn control-btn btn-sm" (click)="toggleMute()" data-bs-toggle="tooltip" title="Microphone"
            [ngClass]="{'btn-secondary': !isMuted, 'btn-danger': isMuted}">
            <i class="fa-solid" [class.fa-microphone]="!isMuted" [class.fa-microphone-slash]="isMuted"></i> </button>

        <button class="btn control-btn btn-sm" (click)="toggleScreenShare()" data-bs-toggle="tooltip"
            title="Screen Share" [ngClass]="{'btn-secondary': !isScreenSharing, 'btn-primary': isScreenSharing}">
            <i class="fa-solid" [class.fa-display]="!isScreenSharing" [class.fa-xmark]="isScreenSharing"></i>
        </button>

        <button class="btn control-btn btn-sm" (click)="toggleRecording()" data-bs-toggle="tooltip" title="Recording"
            [ngClass]="{'btn-secondary': !isRecording, 'btn-dark': isRecording}">
            <i class="fa-solid" [class.fa-circle]="!isRecording" [class.fa-square]="isRecording" [class.fa-xs]="true"
                [style.color]="isRecording ? '#ec0909' : ''"></i>
        </button>

        <button class="btn control-btn btn-danger btn-sm end-call" (click)="endCall()" data-bs-toggle="tooltip"
            title="End Call">
            <i class="fa-solid fa-phone-slash"></i>
        </button>

    </div>


    <div *ngIf="isRecording" class="recording-indicator">
        <span class="recording-dot"></span>
        REC
    </div>

</div>