<div class="container-fluid chat-container ">
  <div class="row">
    <div class="col-md-3 chat-sidebar ">
      <div class="chat-type-toggle d-flex mb-3">
        <button class="btn btn-outline-primary flex-grow-1 rounded-0" [class.active]="activeSection === 'oneToOne'"
          (click)="switchSection('oneToOne')"> Chat </button>
        <button class="btn btn-outline-primary flex-grow-1 rounded-0" [class.active]="activeSection === 'groups'"
          (click)="switchSection('groups')"> Groups </button>
      </div>


      <div class="chat-list">
        <div *ngIf="activeSection === 'oneToOne'">
          <div class="sidebar-header d-flex justify-content-between align-items-center p-3">
            <button class="new-chat-btn btn btn-outline-primary rounded-circle" type="button" data-bs-toggle="modal"
              data-bs-target="#userList" aria-controls="offcanvasWithBothOptions" (click)="openUserModal()">
              <i class="fa-sharp fa-solid fa-plus fa-xs"></i>
            </button>
            <h3 class="mb-0">Chat</h3>

          </div>
          <div *ngFor="let conversation of oneToOneConversations" class="chat-item mb-1 card"
            (click)="openChat(conversation._id, conversation.receiver?.username, conversation.receiver._id)">
            <div class="card-body d-flex align-items-center">
              <img *ngIf="conversation.receiver?.avatar"
                [src]="conversation.receiver.avatar" class="avatar me-3 img-fluid" >

              <div class="chat-info flex-grow-1">
                <div class="d-flex justify-content-between align-items-center">
                  <h5 class="mb-0">{{ conversation.receiver?.username }}</h5>
                  <span *ngIf="conversation.unreadCount>0" class="badge badge-pill bg-info">{{ conversation.unreadCount
                    }}</span>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <p class="text-muted small mb-0">{{ conversation.lastMessage?.content || 'No messages yet' }}</p>
                  <p class="mb-0 text-muted small">{{ formatTimestamp(conversation.lastMessage?.createdAt) }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="activeSection === 'groups'">
          <div class="sidebar-header d-flex justify-content-between align-items-center p-3">
        
            <button class="btn btn-outline-primary" type="button" data-bs-toggle="modal" data-bs-target="#groupModal">
              <i class="fa-sharp fa-solid fa-plus fa-xs"></i>
            </button>
            <h3 class="mb-0">Groups</h3>

          </div>
          <div *ngFor="let conversation of groupConversations" class="chat-item mb-1 card"
            (click)="openGroupChat(conversation)">
            <div class="card-body d-flex align-items-center">
              <img *ngIf="conversation.groupAvatar" [src]="conversation.groupAvatar"
                class="avatar me-3 img-fluid">
              <div class="chat-info flex-grow-1">
                <div class="d-flex justify-content-between align-items-center">
                  <h5 class="mb-0">{{ conversation.groupName }}</h5>
                  <span *ngIf="conversation.unreadCount>0" class="badge badge-pill bg-info">{{ conversation.unreadCount
                    }}</span>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <p class="text-muted small mb-0">{{ conversation.lastMessage?.content || 'No messages yet' }}</p>
                  <p class="mb-0 text-muted small">{{ formatTimestamp(conversation.lastMessage?.createdAt) }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-9 chat-main p-0" *ngIf="selectedConversationId">

      <app-chatroom *ngIf="activeSection === 'oneToOne'" [conversationId]="selectedConversationId"
        [activeSection]="activeSection" [receiverId]="selectedReceiverId!" [receiverName]="selectedReceiverName!"
        (messageSent)="updateLastMessage($event)">
      </app-chatroom>
      <app-chatroom *ngIf="activeSection === 'groups'" [groupId]="selectedConversationId"
        [activeSection]="activeSection" [groupName]="selectedGroupName" [groupMembers]="selectedGroupMembers"
        (messageSent)="updateLastMessage($event)">
      </app-chatroom>

    </div>

    <div class="col-md-9 chat-main p-0" *ngIf="!selectedConversationId">
      <div class="welcome-message">
        <img src="../../assets/welcome.png" alt="Welcome to Chat" class="welcome-image img-fluid">
        <h2 class="welcome-heading">Welcome to Chat!</h2>
        <p class="welcome-text">Select a chat from the left to start a conversation.</p>
      </div>
    </div>

  </div>
</div>


<div class="modal fade" id="userList" tabindex="-1" aria-labelledby="userListLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-5" id="userListLabel">Select a user to start a chat</h5>
      </div>
      <div class="modal-body">
        <ul class="list-group user-list">
          <li *ngFor="let user of users" class="list-group-item d-flex align-items-center" data-bs-dismiss="modal"
            aria-label="Close" (click)="startNewChat(user._id, user.username)">
            <img *ngIf="user.avatar" [src]="user.avatar" class="avatar me-2 img-fluid">
            <span>{{ user.username }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="groupModal" tabindex="-1" aria-labelledby="groupModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="groupModalLabel">Create Group</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div  class="p-3">
          <form [formGroup]="groupForm" (ngSubmit)="createGroup()">
            <div class="mb-3">
              <label for="groupName" class="form-label">Group Name</label>
              <input type="text" class="form-control" id="groupName" formControlName="groupName" required>
            </div>
            <div class="mb-3">
              <label for="groupDescription" class="form-label">Group Description</label>
              <textarea class="form-control" id="groupDescription" formControlName="groupDescription"></textarea>
            </div>
            <div class="mb-3">
              <label for="groupAvatar" class="form-label">Group Avatar</label>
              <input type="file" class="form-control" id="groupAvatar" (change)="onFileSelected($event)">
            </div>

            <div class="mb-3">
              <label class="form-label">Select Members</label>
              <div *ngFor="let user of users" class="form-check">
                <input class="form-check-input" type="checkbox" [id]="'user-' + user._id" (change)="toggleMemberSelection(user._id)">
                <label class="form-check-label" [for]="'user-' + user._id">
                  {{ user.username }}
                </label>
              </div>
            </div>

            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Create Group</button>
            <button type="button" class="btn btn-secondary ms-2" data-bs-dismiss="modal" (click)="toggleGroupForm()">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


