$blue: #038edc;
$indigo: #564ab1;
$purple: #564ab1;
$pink: #e83e8c;
$red: #f34e4e;
$orange: #f1734f;
$yellow: #f7cc53;
$green: #51d28c;
$teal: #050505;
$cyan: #5fd0f3;
$primary: $blue;
$secondary: #74788d;
$success: $green;
$info: $cyan;
$warning: $yellow;
$orange: $orange;
$danger: $red;
$light: #f5f6f8;
$dark: #343a40;
$purple: $purple;
$white: #fff;

.chat-container {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
}

.chat-leftsidebar {
  @media (min-width: 1200px) {
    min-width: 380px;
  }

  @media (min-width: 992px) and (max-width: 1199.98px) {
    min-width: 290px;
  }

  width: 300px;
  border-right: 1px solid #e2e5e8;
  transition: transform 0.3s ease;
}

.user-chat {
  flex: 1;
  display: flex;
  flex-direction: column;

  
}

.chat-selected .welcome-message {
  display: none;
}

.welcome-message {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #444;

  .welcome-image {
    max-width: 400px;
  }

  .welcome-heading {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .welcome-text {
    font-size: 16px;
    color: #666;
    padding: 10px 20px;
  }
}


@media screen and (max-width: 768px) {
  .chat-container {
    position: relative;
  }

  .chat-leftsidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    background: white;
    transform: translateX(-100%);
  }

  .chat-leftsidebar.show {
    transform: translateX(0);
  }

  .user-chat {
    width: 100%;
    margin-left: 0;
    margin-top: 0px !important;
    
  }

  .back-button {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
  }
}

@media screen and (min-width: 769px) {
  .chat-leftsidebar {
    transform: translateX(0) !important;
    position: relative;
  }

  .back-button {
    display: none !important;
  }
}

.chat-leftsidebar-header {
  color: $dark;
  background-color: rgba(3, 142, 220, 0.25) !important;
}

.chat-leftsidebar-nav {
  .nav-tabs {
    border-bottom: 2px solid transparent;
    flex-wrap: nowrap;

    .nav-link {
      color: $dark;
      font-weight: 500;
      position: relative;

      &.active {
        color: $blue;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 100%;
          height: 2px;
          background-color: $blue;
        }
      }
    }
  }
}
.no-arrow::after {
  display: none !important;
}

.chat-noti-dropdown {
  &.active {
    &:before {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      background-color: $danger;
      border-radius: 50%;
      right: 0;
    }
  }

  .btn {
    padding: 6px;
    box-shadow: none;
    font-size: 16px;
  }
}

.chat-search-box {
  .form-control {
    border: 0;
  }
}

.chat-message-list {
  height: calc(100vh - 180px);
  @media (min-width: 992px) {
    height: calc(100vh - 180px);
  }

  a {
    text-decoration: none;
  }

  h5 {
    font-size: 16px !important;
    font-weight: 600;
    color: $dark;
  }
}

.chat-list {
  margin: 0;
  li {
    &.active {
      a {
        background-color: rgba($primary, 0.075);
        border-color: transparent;
      }
    }

    a {
      position: relative;
      display: block;
      color: #74788d;
      transition: all 0.4s;
      padding: 12px;
      border: 1px solid #eff0f2;
      border-radius: 4px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 13px;
      margin: 12px 0px;
      text-decoration: none;

      &:hover {
        background-color: rgba($primary, 0.075);
        border-color: transparent;
      }
    }

    .user-img {
      position: relative;

      .user-status {
        width: 11px;
        height: 11px;
        border-radius: 50%;
        border: 2px solid #fff;
        position: absolute;
        left: 0;
        bottom: 0;

        &.online {
          background-color: $green;
        }

        &.offline {
          background-color: $secondary;
        }
      }
    }

    &.unread {
      a {
        font-weight: 600;
        color: $dark;
      }
    }

    .unread-message {
      position: absolute;
      display: inline-block;
      right: 16px;
      top: 33px;
    }
  }
}

.group-list {
  li {
    a {
      border: 0;
    }
  }
}

.user-chat-nav {
  .dropdown {
    .nav-btn {
      height: 36px;
      width: 36px;
      line-height: 36px;
      box-shadow: none;
      padding: 0;
      font-size: 16px;
      border-radius: 50%;
    }
  }
}
.contact-list {
  font-size: 12px;
  color: #74788d;
  font-weight: 600;
}

.chat-conversation {
  height: calc(100vh - 160px);
  @media (min-width: 992px) {
    height: calc(100vh - 160px);
  }
  li {
    clear: both;
  }
  overflow-y: auto;
  padding: 0;
  margin: 0;

  ul {
    padding: 0;
    margin: 0;
  }
  .chat-day-title {
    position: relative;
    text-align: center;
    margin-bottom: 24px;
    border: none;

    .title {
      display: inline-block;
      background-color: $light;
      position: relative;
      z-index: 1;
      padding: 4px 16px;
      border-radius: 30px;
    }

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      left: 0;
      right: 0;
      background-color: #eff0f2;
      top: 16px;
    }
    .badge {
      font-size: 12px;
    }
  }

  .chat-avatar img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  .conversation-list {
    margin-bottom: 24px;
    position: relative;

    .ctext-wrap {
      display: flex;
      margin-bottom: 10px;
    }

    .ctext-wrap-content {
      padding: 12px 20px;
      background-color: rgba($primary, 0.1);
      border-radius: 0px 8px 8px 8px;
      color: #74788d;
      position: relative;
      margin-left: 6px;

      &:before {
        content: "";
        position: absolute;
        border: 5px solid transparent;
        border-right-color: rgba($primary, 0.1);
        border-top-color: rgba($primary, 0.1);
        left: -10px;
        top: 0;
      }
    }

    .conversation-name {
      margin-bottom: 4px;
      display: flex;
      font-size: 13px;
      .time {
        font-size: 12px;
        color: #74788d;
        margin-left: 8px;
        font-weight: 400;
      }

      .user-name {
        color: $dark;
      }
    }

    .dropdown {
      .dropdown-toggle {
        font-size: 18px;
        padding: 4px;
        color: #74788d;
      }
    }

    .chat-time {
      font-size: 12px;
      margin-top: 4px;
      text-align: right;
      color: rgba($white, 0.5);
    }

    .chat-media {
      width: 200px;
      border-radius: 10px;
      object-fit: cover;
      margin-top: 5px;
    }

    .chat-audio {
      width: 200px;
      height: 40px;
    }

    .message-img {
      position: relative;
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 10px;

      .message-img-list {
        position: relative;
      }

      img {
        max-width: 80px;
      }
    }
  }

  .right {
    .conversation-list {
      float: right;
      text-align: right;

      .ctext-wrap {
        .ctext-wrap-content {
          order: 2;
          background-color: $light;
          text-align: right;
          border-radius: 8px 0px 8px 8px;
          margin-left: 0;
          margin-right: 6px;

          &:before {
            border: 5px solid transparent;
            border-top-color: $light;
            border-left-color: $light;
            left: auto;
            right: -10px;
          }
        }

        .conversation-name {
          justify-content: flex-end;
          .time {
            order: 1;
            margin-left: 0;
            margin-right: 8px;
          }

          .user-name {
            order: 2;
          }
        }
      }

      .dropdown {
        order: 1;
      }
      .chat-avatar {
        order: 3;
      }
    }
  }

  .preview-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .preview-modal img,
  .preview-modal video {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
  }
}

.chat-input-section {
  border-top: 1px solid #eff0f2;

  button {
    background-color: $blue;
    color: $light;

    &:hover {
      background-color: $cyan;
    }
  }

  .selected-image-container {
    position: relative;
    display: flex;
    align-items: center;

    .selected-image {
      width: 40px;
      height: 40px;
      border-radius: 10px;
      object-fit: cover;
    }

    .remove-image-icon {
      position: absolute;
      top: -5px;
      right: -5px;
      color: red;
      font-size: 16px;
      cursor: pointer;
    }
  }

  i {
    cursor: pointer;
  }
}

.chat-input {
  background-color: $light !important;
  border-color: $light !important;
}

.chat-send {
  @media (max-width: 575.98px) {
    min-width: auto;
  }
}

.avatar-xs {
  height: 1rem;
  width: 1rem;
}

.avatar-sm {
  height: 2rem;
  width: 2rem;
}

.avatar {
  height: 3rem;
  width: 3rem;
}

.avatar-md {
  height: 4rem;
  width: 4rem;
}

.avatar-lg {
  height: 5rem;
  width: 5rem;
}

.avatar-xl {
  height: 6rem;
  width: 6rem;
}

.avatar-title {
  align-items: center;
  background-color: rgba(3, 142, 220, 0.25) !important;
  color: $white;
  display: flex;
  font-weight: 500;
  height: 100%;
  justify-content: center;
  width: 100%;
}

// avatar group
.avatar-group {
  display: flex;
  flex-wrap: wrap;
  padding-left: 8px;
  .avatar-group-item {
    margin-left: -8px;
    border: 2px solid #fff;
    border-radius: 50%;
    transition: all 0.2s;
    &:hover {
      position: relative;
      transform: translateY(-2px);
    }
  }
}

body[data-layout-mode="dark"] {
  .avatar-group {
    .avatar-group-item {
      border-color: #032d46;
    }
  }
}

body[data-layout-mode="dark"] {
  .chat-noti-dropdown {
    .btn {
      color: #adb5bd;
    }
  }

  .chat-list {
    li {
      a {
        border-color: #043a5a;
      }

      .user-img {
        .user-status {
          border-color: #032d46;
        }
      }

      &.unread a {
        color: #adb5bd;
      }
    }
  }

  .chat-conversation .chat-day-title {
    &:before,
    .title {
      background-color: #043a5a;
    }
  }

  .user-chat-nav .dropdown .nav-btn {
    color: #adb5bd;
  }

  .chat-conversation {
    .conversation-list {
      .conversation-name {
        .user-name {
          color: #adb5bd;
        }
      }
    }

    .right {
      .conversation-list {
        .ctext-wrap {
          .ctext-wrap-content {
            background-color: lighten(#032d46, 2%);
            &::before {
              border-top-color: lighten(#032d46, 2%);
              border-left-color: lighten(#032d46, 2%);
            }
          }
        }
      }
    }
  }

  .chat-input {
    background-color: #032d46 !important;
    border-color: #043a5a !important;
  }

  .chat-input-section {
    border-top: 1px solid #043a5a;
  }
}
.video-call-container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  background-color: #222;
  color: white;
}

.local-video,
.remote-video {
  width: 100%;
  min-height: 300px;
  background: black;
}

.local-video-placeholder,
.remote-video-placeholder {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.video-call-controls {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.chat-window {
  position: relative;
  height: 100%;
}

.call-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 100%;
  max-width: 850px;
}

.video-call-container,
.audio-call-container {
  width: 100%;
  max-width: 800px;
  margin: auto;
  background-color: #222;
  color: white;
  border-radius: 10px;
  padding: 20px;
  min-height: 250px;
}

.audio-call-container {
  min-height: 160px;
}

.emoji-picker-container {
  position: relative;
  button {
    border: none;
    background: transparent;
    font-size: 1.5rem;
    cursor: pointer;
  }
  emoji-mart {
    position: absolute;
    bottom: 50px;
    left: 0;
  }
}
