<div class="chatroom d-flex flex-column">
    <div class="chat-header d-flex align-items-center justify-content-between p-3 bg-light border-bottom">
        <div class="d-flex align-items-center">
            <img *ngIf="receiverAvatar" [src]="'http://192.168.4.29:8080/' + receiverAvatar" class="avatar me-2">
            <div>
                <h2 class="fs-6 fw-bold mb-0">{{ receiverName }}</h2>
                <div class="status small">
                    <span *ngIf="isOnline && !isTyping" class="text-success">
                        <i class="fa-solid fa-circle fa-2xs" style="color: #63E6BE;"></i> Online
                    </span>
                    <span *ngIf="!isOnline && lastSeen && !isTyping" class="text-muted">
                        <i class="fa-solid fa-circle" style="color: #f25f5f;"></i> Last seen: {{ lastSeen | date:
                        'short' }}
                    </span>
                    <span *ngIf="isOnline && isTyping" class="text-success">Typing...</span>
                </div>
            </div>
        </div>

        <div class="chat-controls">
            <button class="btn btn-outline-success" (click)="callAudioUser()">
                <i class="fa-solid fa-phone fa-sm"></i>
            </button>&nbsp;&nbsp;
            <button class="btn btn-outline-primary" (click)="callVideoUser()">
                <i class="fa-solid fa-video fa-sm"></i>
            </button>
        </div>
    </div>

    <!-- <div *ngIf="callInProgress" class="video-call-container position-relative text-center bg-dark p-3 rounded">
        <div class="d-flex justify-content-center gap-3">
            <div *ngIf="callType === 'video'" class="position-relative">
                <video #userVideo autoplay playsinline class="remote-video rounded border shadow" controls></video>
            </div>

            <div *ngIf="callType === 'video'" class="position-relative">
                <video #myVideo autoplay playsinline class="local-video rounded border shadow" muted controls></video>
            </div>
            <div *ngIf="callType === 'audio'" class="audio-call-avatar">
                <i class="fa-solid fa-user-circle fa-5x text-light"></i>
            </div>
        </div>

        <div class="video-call-controls mt-3 d-flex justify-content-center gap-3">
            <button *ngIf="callType === 'video'" class="btn btn-secondary btn-sm video-toggle-btn"
                (click)="toggleVideo()">
                <i class="fa-solid" [ngClass]="{'fa-video': isVideoEnabled, 'fa-video-slash': !isVideoEnabled}"></i>
            </button>

            <button class="btn btn-warning mute-btn btn-sm" (click)="toggleMute()">
                <i class="fa-solid" [ngClass]="{'fa-microphone': !isMuted, 'fa-microphone-slash': isMuted}"></i>
            </button>

            <button class="btn btn-danger end-call-btn btn-sm" (click)="endCall()">
                <i class="fa-solid fa-phone-slash"></i>
            </button>
        </div>
    </div> -->

    <div *ngIf="callInProgress && callType==='video'" class="video-call-container position-relative text-center bg-dark p-3 rounded">
        <div class="d-flex justify-content-center gap-3">
            <div class="position-relative">
                <video #userVideo autoplay playsinline class="remote-video rounded border shadow"></video>
            </div>
    
            <div class="position-relative">
                <video #myVideo autoplay playsinline class="local-video rounded border shadow" muted></video>
            </div>
        </div>
    
        <div class="video-call-controls mt-3 d-flex justify-content-center gap-3">
            <button class="btn btn-secondary btn-sm" (click)="toggleVideo()">
                <i class="fa-solid" [ngClass]="{'fa-video': isVideoEnabled, 'fa-video-slash': !isVideoEnabled}"></i>
            </button>
    
            <button class="btn btn-warning btn-sm" (click)="toggleMute()">
                <i class="fa-solid" [ngClass]="{'fa-microphone': !isMuted, 'fa-microphone-slash': isMuted}"></i>
            </button>
    
            <button class="btn btn-danger btn-sm" (click)="endCall()">
                <i class="fa-solid fa-phone-slash"></i>
            </button>
        </div>
    </div>

    <div *ngIf="callType==='audio' && callInProgress" class="audio-call-container position-relative text-center bg-dark p-3 rounded">
        <div class="d-flex justify-content-center">
            <div class="audio-call-avatar">
                <i class="fa-solid fa-user-circle fa-5x text-light"></i>
            </div>
        </div>
    
        <div class="audio-call-controls mt-3 d-flex justify-content-center gap-3">
            <button class="btn btn-warning btn-sm" (click)="toggleMute()">
                <i class="fa-solid" [ngClass]="{'fa-microphone': !isMuted, 'fa-microphone-slash': isMuted}"></i>
            </button>
    
            <button class="btn btn-danger btn-sm" (click)="endCall()">
                <i class="fa-solid fa-phone-slash"></i>
            </button>
        </div>
    </div>
    



    <div class="chat-window flex-grow-1 overflow-auto p-3 bg-white" #chatWindow>
        <div *ngFor="let msg of messageArray" class="message p-2 rounded-3" [ngClass]="{'sent align-self-end text-white': msg.userId === authService.getLoggedInUser()._id, 
                        'received align-self-start text-dark': msg.userId !== authService.getLoggedInUser()._id}">

            <img *ngIf="msg.type === 'image'" [src]="msg.fileUrl" class="chat-media chat-image"
                (click)="openPreview(msg.fileUrl!, 'image')">

            <video *ngIf="msg.type === 'video'" controls class="chat-media chat-video"
                (click)="openPreview(msg.fileUrl!, 'video')">
                <source [src]="msg.fileUrl" type="video/mp4">
            </video>

            <audio *ngIf="msg.type === 'audio'" controls class="chat-media chat-audio">
                <source [src]="msg.fileUrl" type="audio/mp3">
            </audio>
            <p *ngIf="msg.content">{{ msg.content }}</p>

            <small class="message-time">{{ msg.createdAt | date: 'short' }}</small>

        </div>
        <div class="preview-modal" *ngIf="previewUrl" (click)="closePreview()">
            <img *ngIf="previewType === 'image'" [src]="previewUrl">
            <video *ngIf="previewType === 'video'" controls autoplay>
                <source [src]="previewUrl" type="video/mp4">
            </video>
        </div>

    </div>

    <div class="input-container d-flex p-3 border-top bg-white align-items-center">
        <div *ngIf="fileName" class="selected-image-container me-2 position-relative">
            <img [src]="fileName" class="selected-image">
            <i class="fa-solid fa-times-circle remove-image-icon" (click)="removeSelectedImage()"></i>
        </div>
        <input type="text" [(ngModel)]="message" class="form-control rounded-pill me-2" (keypress)="typing()"
            (keydown.enter)="sendMessage()" placeholder="Type a message...">
        <input type="file" #fileInput (change)="handleFileUpload($event)" class="d-none" accept="image/*">

        <i class="fa-solid fa-paperclip attachment-icon me-2" (click)="fileInput.click()"></i>

        <button type="submit" class="btn btn-primary rounded-pill px-3" (click)="sendMessage()">
            <i class="fa-solid fa-paper-plane"></i>
        </button>
    </div>


</div>